[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# InnoDB memory settings.
# Defaults are: 8M, 1M, 5M, 1M in that order.
innodb_buffer_pool_size=512M
innodb_additional_mem_pool_size=10M
innodb_log_file_size=128M
innodb_log_buffer_size=16M

# Master setup.
log-bin=mysql-bin
binlog_format=ROW
binlog-row-event-max-size=10240
expire_logs_days=30
server-id=1
sync_binlog=1

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

innodb_flush_log_at_trx_commit=1
